*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.navbar{
    padding: 10px;
    margin: 10px;
}
.navbar-page{
   height: 500px;
   width: 40px;
   display: flex;
   justify-content:space-between;
   flex-direction: column;
   align-items: flex-end;
}
.navbar-img{
    padding: 10px;
}

