.sidebar{
    margin: 10px;

    &-img{
        margin-left: 19px;
    }

    &-home{
        height: 600px;    
    }

    &__list{
       position: relative;
       top: 25%;
       padding: 15px;
       list-style: none;
    }
    &__item{
        padding: 10px;
    }

    

}